
.flex-box {	
	width: 100%;
	height: 98vh;	
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;	
	box-sizing: border-box;
}
form.login {
	border: 1px solid lightgrey;
	border-radius: 5px;
	background-color: steelblue;
	color: white;
	width: 300px;	
	height: 200px;	
	padding-left: 50px;
	padding-right: 50px;
	padding-top: 70px;
	padding-bottom: 50px;
	box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.3);
	
}

form.login input {
	padding: 10px;
	width: 95%;
}

form.login input[type="submit"] {
	border: 1px solid lightgrey;
	width: 100%;	
	border-radius: 2px;
	background-color: steelblue;
	color: white;
	cursor: pointer;
	transition: 0.125s linear;
	text-transform: uppercase;
	
}

form.login input[type="submit"]:hover {
	box-shadow: 5px 0 15px 0 white;	
	transform: scale(1.01);
}

form input[value="Logout"] {
	border: none;
	color: white;
	background-color: transparent;
	cursor: pointer;
}

.login-error {
	color: white;		
	text-align: center;
	border: 1px solid lightgrey;
	border-radius: 2px;
	background-color: deeppink;
	box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.3);
	padding: 10px;
	width: 378px;
	margin: 0 auto 5px auto;	
}

.logout-successful {	
	color: white;
	text-align: center;
	border: 1px solid lightgrey;
	border-radius: 2px;
	background-color: olive;
	box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.3);
	padding: 10px;
	width: 378px;
	margin: 0 auto 5px auto;
}













